.button {
  isolation: isolate;
  cursor: pointer;
  color: var(--button-icon-color);
  border-radius: var(--button-border-radius, 0);
  background: 0 0;
  border: none;
  outline: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: relative;
  width: var(--button-size);
  min-width: var(--button-size);
  height: var(--button-size);
}

.button:disabled {
  cursor: not-allowed;
}

.button__primary {
  --button-icon-color: var(--icon-primary-inverse-static) #fff;
  --button-icon-color-disabled: var(
    --states-icon-primary-inverse-static-disabled
  );
  --button-background-color: var(--button-primary);
  --button-background-color-hovered: var(--states-button-primary-hover);
  --button-background-color-pressed: var(--states-button-primary-pressed);
  --button-background-color-disabled: var(--states-button-primary-disabled);
}

.button__ghost {
  --button-icon-color: var(--button-ghost-icon-color, var(--icon-primary));
  --button-icon-color-disabled: var(
    --button-ghost-icon-color-disabled,
    var(--states-icon-primary-disabled)
  );
  --button-background-color: var(--button-ghost);
  --button-background-color-hovered: var(--states-button-ghost-hover);
  --button-background-color-pressed: var(--states-button-ghost-pressed);
  --button-background-color-disabled: var(--states-button-ghost-disabled);
}

.button__small {
  --button-border-radius: 18px;
  --button-size: 40px;
}

.button__xsmall {
  --button-border-radius: 18px;
  --button-size: 32px;
}

.shape {
  z-index: -1;
  position: absolute;
  inset: 0;
  overflow: visible;
}
