.toastlist {
  position: fixed;
  top: 10px;
  right: 10px;
  max-width: 600px;
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  height: max-content;
  z-index: 10;
  margin-left: auto;
  align-items: flex-end;
}
