* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-surface: #0f0f12;
  --background-primary: #17181c;
  --background-secondary: #25262d;
  --background-tertiary: #ffffff17;
  --background-card: #25262d;
  --background-overlay: #0d0d0da3;
  --background-overlay-secondary: #0009;
  --background-overlay-hard: #0c0d0ecc;
  --background-overlay-media-preview: #000000d9;
  --background-themed-fade: #007aff29;
  --icon-primary: #fff;
  --icon-secondary: #ffffffad;
  --icon-tertiary: #ffffff85;
  --icon-mute: #ffffff5c;
  --icon-primary-static: #060708d6;
  --icon-primary-inverse: #060708d6;
  --icon-primary-inverse-static: #fff;
  --icon-secondary-inverse-static: #ffffffad;
  --icon-mute-inverse-static: #ffffff52;
  --icon-themed: #007aff;
  --icon-positive: #2bc644;
  --icon-negative: #ce4257;
  --icon-attention: #ffd60a;
  --text-primary: #fff;
  --text-secondary: #fffc;
  --text-tertiary: #ffffffa3;
  --text-mute: #fff6;
  --text-primary-static: #060708;
  --text-primary-inverse: #060708;
  --text-primary-inverse-static: #fff;
  --text-secondary-inverse-static: #fffc;
  --text-mute-inverse-static: #fff6;
  --text-themed: #007aff;
  --text-positive: #2bc644;
  --text-negative: #ce4257;
  --text-attention: #ffd60a;
  --stroke-themed: #007aff;
  --stroke-secondary: #ffffff70;
  --stroke-tertiary: #ffffff29;
  --stroke-primary-inverse-static: #fff;
  --stroke-secondary-inverse-static: #ffffff4d;
  --stroke-positive: #2bc644;
  --stroke-negative: #ff444f;
  --stroke-negative-fade: #ff303ca3;
  --stroke-transparent: #fff0;
  --stroke-glass: #383e4570;
  --stroke-primary-carver: #17181c;
  --stroke-card-carver: #25262d;
  --stroke-snap-guide: #007aff;
  --divider-primary: #ffffff1f;
  --divider-secondary: #ffffff0f;
  --divider-contrast: #0c0d0e1a;
  --divider-primary-ghost: #fff0;
  --button-primary: #007aff;
  --button-secondary: #434455;
  --button-primary-contrast: #fff;
  --button-secondary-contrast: #bfc2f642;
  --button-negative: #ce4257;
  --button-negative-fade: #ce425729;
  --button-positive: #2bc644;
  --button-positive-fade: #2bc6441a;
  --button-bot: #5a946799;
  --button-ghost: #0000;
  --button-overlay: #2e333873;
  --button-overlay-contrast: #ffffff14;
  --controls-active: #007aff;
  --controls-inactive: #ffffff17;
  --controls-key: #ffffff45;
  --fading-background-surface-step-1: #0f0f1200;
  --fading-background-surface-step-2: #0f0f12;
  --fading-background-primary-step-1: #17181c00;
  --fading-background-primary-step-2: #17181c;
  --fading-float-primary-step-1: #17181c;
  --fading-float-primary-step-2: #17181c00;
  --float-primary-blur: #17181cd6;
  --float-primary-flat: #17181c;
  --float-surface-blur: #0f0f12d6;
  --float-surface-flat: #0f0f12;
  --float-popup-blur: #7a7c82a3;
  --float-popup-flat: #535458;
  --float-fab-blur: #3d434ad6;
  --float-fab-flat: #3d434a;
  --float-modal: #1e1f24;
  --float-scroll-bar: #ffffff1f;
  --float-primary-carver: #1e1f24;
  --float-surface-carver: #25262d;
  --float-stroke: #fff0;
  --float-glass-primary: #25262dad;
  --float-glass-surface: #202022c2;
  --float-glass-primary-flat: #25262df7;
  --float-glass-surface-flat: #202022f7;
  --float-glass-stroke-bar-step-1: #fff3;
  --float-glass-stroke-bar-step-2: #fff0;
  --float-glass-stroke-button-step-1: #ffffff1f;
  --float-glass-stroke-button-step-2: #fff0;
  --float-overlay-primary-step-1: #17181c;
  --float-overlay-primary-step-2: #17181cb8;
  --float-overlay-primary-step-3: #17181c00;
  --float-overlay-surface-step-1: #0f0f12;
  --float-overlay-surface-step-2: #0f0f12b8;
  --float-overlay-surface-step-3: #0f0f1200;
  --float-scroll-edge-top-step-1: #141414;
  --float-scroll-edge-top-step-2: #141414;
  --float-scroll-edge-bottom-step-1: #141414;
  --float-scroll-edge-bottom-step-2: #141414;
  --avatar-chat-coral-step-1: #ff48b6;
  --avatar-chat-coral-step-2: #ff8a35;
  --avatar-chat-orange-step-1: #ffc93d;
  --avatar-chat-orange-step-2: #ff832a;
  --avatar-chat-green-step-1: #14e1d5;
  --avatar-chat-green-step-2: #03c722;
  --avatar-chat-sky-step-1: #08d7f3;
  --avatar-chat-sky-step-2: #5398ff;
  --avatar-chat-violet-step-1: #bf97ff;
  --avatar-chat-violet-step-2: #526eff;
  --avatar-call-purple-step-1: #da9ef1;
  --avatar-call-purple-step-2: #a666bd;
  --avatar-call-grey-step-1: #abb7cc;
  --avatar-call-grey-step-2: #6c8fb8;
  --avatar-call-aqua-step-1: #6dc3ce;
  --avatar-call-aqua-step-2: #288fbe;
  --avatar-call-sky-step-1: #08d7f3;
  --avatar-call-sky-step-2: #5398ff;
  --avatar-call-violet-step-1: #bf97ff;
  --avatar-call-violet-step-2: #526eff;
  --avatar-malachite-step-1: #1bd6e3;
  --avatar-malachite-step-2: #27a5c8;
  --avatar-malachite-text: #5ec7ce;
  --avatar-dark-sky-step-1: #79bcff;
  --avatar-dark-sky-step-2: #4289ed;
  --avatar-dark-sky-text: #78b1f5;
  --avatar-lilac-step-1: #9b90fe;
  --avatar-lilac-step-2: #6746ec;
  --avatar-lilac-text: #a79dff;
  --avatar-orchid-step-1: #fa82ba;
  --avatar-orchid-step-2: #e74aa6;
  --avatar-orchid-text: #f78fb7;
  --avatar-tangerine-step-1: #ffb381;
  --avatar-tangerine-step-2: #e5782d;
  --avatar-tangerine-text: #f2ab7d;
  --promo-banner-dk-background-vibrant-step-1: #0099f0;
  --promo-banner-dk-background-vibrant-step-2: #0834d3;
  --promo-banner-dk-background-fantasy-step-1: #8e85ff;
  --promo-banner-dk-background-fantasy-step-2: #4e04ec;
  --promo-banner-dk-background-pale-blue-step-1: #00b5f2;
  --promo-banner-dk-background-pale-blue-step-2: #006aa7;
  --promo-banner-dk-background-icon-container-step-1: #fff3;
  --promo-banner-dk-background-icon-container-step-2: #fff0;
  --promo-banner-dk-stroke-icon-container-step-1: #ffffff8f;
  --promo-banner-dk-stroke-icon-container-step-2: #ffffff0a;
  --promo-banner-dk-stroke-icon-container-step-3: #fff0;
  --promo-icon: #a473ff;
  --promo-live: #d72166;
  --promo-disclaimer-step-1: #007aff47;
  --promo-disclaimer-step-2: #007aff2b;
  --promo-disclaimer-step-3: #007aff14;
  --promo-button-step-1: #04b0fd;
  --promo-button-step-2: #0026ff;
  --promo-button-step-3: #a500c6;
  --promo-button-step-4: #609ceb;
  --promo-button-shadow-1-color: #ffffff30;
  --promo-button-shadow-1-offset-x: 0px;
  --promo-button-shadow-1-offset-y: 1px;
  --promo-button-shadow-1-blur: 0px;
  --promo-button-shadow-2-color: #ffffff96;
  --promo-button-shadow-2-offset-x: 0px;
  --promo-button-shadow-2-offset-y: 0px;
  --promo-button-shadow-2-blur: 24px;
  --promo-text-step-1: #a473ff;
  --promo-text-step-2: #4b91fb;
  --bubbles-system-step-1: #373a4ea3;
  --bubbles-system-step-2: #373a4ee0;
  --bubbles-system-step-3: #373a4ee0;
  --bubbles-system-stroke-step-1: #fff3;
  --bubbles-system-stroke-step-2: #ffffff1a;
  --bubbles-system-stroke-fade-step-1: #fff3;
  --bubbles-system-stroke-fade-step-2: #ffffff1a;
  --bubbles-system-qr-background: #fff;
  --bubbles-system-qr-step-1: #fff0;
  --bubbles-system-qr-step-2: #fff0;
  --bubbles-system-qr-step-3: #fff0;
  --bubbles-system-qr-step-4: #fff0;
  --bubbles-system-media-empty-icon: #ffffff47;
  --bubbles-system-media-empty-background: #454757;
  --bubbles-system-icon-themed-contrast: #fff;
  --bubbles-system-button-themed: #007aff;
  --chat-background-pattern-color: #505bc74d;
  --chat-background-pattern-gradient-step-1: #505bc74d;
  --chat-background-pattern-gradient-step-2: #505bc74d;
  --chat-background-pattern-step-1: #0000;
  --chat-background-pattern-step-2: #0000;
  --chat-background-pattern-step-3: #0000;
  --chat-background-pattern-step-4: #0000;
  --chat-background-pattern-step-5: #0000;
  --chat-background-pattern-step-6: #0000;
  --chat-background-additional-step-1: #0000;
  --chat-background-additional-step-2: #0000;
  --chat-background-additional-step-3: #0000;
  --chat-background-additional-step-4: #0000;
  --chat-background-additional-step-5: #0000;
  --chat-background-additional-step-6: #0000;
  --chat-background-background-step-1: #141414;
  --chat-background-background-step-2: #141414;
  --chat-ground: #141414;
  --chat-search-highlight: #007aff;
  --chat-sticker-blank: #414346;
  --chat-timeline-active: #ffffffb8;
  --chat-timeline-passive: #ffffff52;
  --chat-action-outside: #4f529db2;
  --chat-pattern-icon: #7a95c038;
  --capsule-background: #2e333873;
  --capsule-outside: #282c42b2;
  --capsule-secondary: #3d434acc;
  --capsule-gradient-primary-step-1: #3b3f5eb2;
  --capsule-gradient-primary-step-2: #3b3f5eb2;
  --capsule-gradient-secondary-step-1: #3b3f5e;
  --capsule-gradient-secondary-step-2: #32343d;
  --chips-default: #25262d;
  --chips-active: #007aff;
  --chips-select-on: #fff;
  --chips-select-off: #ffffff14;
  --chips-primary: #e7e7e7;
  --counter-attention: #ce4257;
  --counter-mute: #ffffff47;
  --counter-themed: #007aff;
  --counter-default: #17181c;
  --counter-mirage: #fff;
  --counter-contrast: #fff;
  --counter-menu: #797c7c;
  --empty-block-halo-bubble-1: #7138a2;
  --empty-block-halo-bubble-2: #2d2ca2;
  --empty-block-halo-bubble-3: #2e5ca0;
  --empty-block-halo-bubble-4: #4612a2;
  --empty-block-icon-wrapper-shape-step-1: #fff3;
  --empty-block-icon-wrapper-shape-step-2: #fff0;
  --empty-block-icon-wrapper-stroke-step-1: #ffffff4d;
  --empty-block-icon-wrapper-stroke-step-2: #ffffff0a;
  --empty-block-icon-wrapper-stroke-step-3: #fff0;
  --file-type-text: #ffffffe0;
  --file-type-background: #ffffff73;
  --file-type-presentation-bkg: #00244c2b;
  --file-type-presentation-badge: #b8394c;
  --file-type-presentation-icon: #fff;
  --file-type-presentation-element: #cfcfcf4d;
  --file-type-data-bkg: #00244c2b;
  --file-type-data-badge: #10793f;
  --file-type-data-icon: #fff;
  --file-type-data-element: #cfcfcf4d;
  --file-type-text-bkg: #00244c2b;
  --file-type-text-badge: #1b5ebe;
  --file-type-text-icon: #fff;
  --file-type-text-element: #cfcfcf4d;
  --file-type-image-bkg: #00244c2b;
  --file-type-image-badge: #db4b00;
  --file-type-image-icon: #fff;
  --file-type-image-element: #cfcfcf4d;
  --file-type-video-bkg: #00244c2b;
  --file-type-video-badge: #5d33dc;
  --file-type-video-icon: #fff;
  --file-type-video-element: #cfcfcf4d;
  --file-type-archive-bkg: #00244c2b;
  --file-type-archive-badge: #9c27b0;
  --file-type-archive-icon: #fff;
  --file-type-archive-element: #cfcfcf4d;
  --file-type-program-bkg: #00244c2b;
  --file-type-program-badge: #3535c1;
  --file-type-program-icon: #fff;
  --file-type-program-element: #cfcfcf4d;
  --file-type-music-bkg: #00244c2b;
  --file-type-music-badge: #1894db;
  --file-type-music-icon: #fff;
  --file-type-music-element: #cfcfcf4d;
  --file-type-unknown-bkg: #00244c2b;
  --file-type-unknown-badge: #0f8ec2;
  --file-type-unknown-icon: #fff;
  --file-type-unknown-element: #cfcfcf4d;
  --halo-call-pending-bubble-1: #3d138d;
  --halo-call-pending-bubble-2: #27288d;
  --halo-call-pending-bubble-3: #61328d;
  --halo-call-pending-bubble-4: #28518b;
  --halo-call-pending-bubble-small-1: #99f;
  --halo-call-pending-bubble-small-2: #a100f1;
  --halo-call-pending-bubble-big: #103160;
  --halo-call-online-bubble-1: #216f71;
  --halo-call-online-bubble-2: #205774;
  --halo-call-online-bubble-3: #207223;
  --halo-call-online-bubble-4: #1c5e34;
  --halo-call-online-bubble-small-1: #0fe832;
  --halo-call-online-bubble-small-2: #5af3c2;
  --halo-call-online-bubble-big: #1d4c28;
  --halo-call-offline-bubble-1: #454649;
  --halo-call-offline-bubble-2: #454649;
  --halo-call-offline-bubble-3: #454649;
  --halo-call-offline-bubble-4: #454649;
  --halo-call-offline-bubble-small-1: #000;
  --halo-call-offline-bubble-small-2: #000;
  --halo-call-offline-bubble-big: #5d5d60;
  --halo-call-warning-bubble-1: #f1b941;
  --halo-call-warning-bubble-2: #f1b941;
  --halo-call-warning-bubble-3: #ff9a4c;
  --halo-call-warning-bubble-4: #e98708;
  --halo-call-warning-bubble-small-1: #f1ab4a;
  --halo-call-warning-bubble-small-2: #fff;
  --halo-call-warning-bubble-big: #fff;
  --input-background: #ffffff17;
  --seekbar-track: #797c7c;
  --seekbar-buffer: #b4b6b9;
  --seekbar-progress: #fff;
  --seekbar-handle: #fff;
  --stories-circle-step-1: #00bee4;
  --stories-circle-step-2: #1971ff;
  --stories-circle-step-3: #8563ec;
  --stories-circle-step-4: #c640eb;
  --stories-circle-read: #919499;
  --stories-button-step-1: #2daeff;
  --stories-button-step-2: #a93fff;
  --stories-favorite-step-1: #00e732;
  --stories-favorite-step-2: #12df41;
  --stories-favorite-step-3: #1abe43;
  --sferum-card: #272a36;
  --sferum-venus-step-1: #f4bffbb2;
  --sferum-venus-step-2: #f0aef7b2;
  --sferum-venus-stroke-step-1: #fadffdcc;
  --sferum-venus-stroke-step-2: #f7d6fbcc;
  --sferum-mercury-step-1: #a9b2ffb2;
  --sferum-mercury-step-2: #929dffb2;
  --sferum-mercury-stroke-step-1: #cbd0ffcc;
  --sferum-mercury-stroke-step-2: #bdc4ffcc;
  --sferum-earth-step-1: #afdcfab2;
  --sferum-earth-step-2: #99d1f6b2;
  --sferum-earth-stroke-step-1: #d6edfccc;
  --sferum-earth-stroke-step-2: #dbedf9cc;
  --skeleton-cell-step-1: #17181c00;
  --skeleton-cell-step-2: #17181c66;
  --skeleton-cell-step-3: #17181ccc;
  --skeleton-cell-static-background: #ffffff1f;
  --skeleton-grid-step-1: #17181c00;
  --skeleton-grid-step-2: #17181c66;
  --skeleton-grid-step-3: #17181ccc;
  --skeleton-grid-static-background: #ffffff1f;
  --skeleton-bubble-primary-step-1: #fff0;
  --skeleton-bubble-primary-step-2: #ffffff10;
  --skeleton-bubble-primary-step-3: #ffffff20;
  --skeleton-bubble-primary-static-background: #ffffff1a;
  --skeleton-bubble-secondary-step-1: #fff0;
  --skeleton-bubble-secondary-step-2: #ffffff10;
  --skeleton-bubble-secondary-step-3: #ffffff20;
  --skeleton-bubble-secondary-static-background: #ffffff1a;
  --skeleton-sticker-primary-base-step-1: #fff0;
  --skeleton-sticker-primary-base-step-2: #ffffff29;
  --skeleton-sticker-primary-base-static-background: #ffffff29;
  --skeleton-sticker-primary-tongue-step-1: #fff3;
  --skeleton-sticker-primary-tongue-step-2: #ffffff80;
  --skeleton-sticker-secondary-base-step-1: #fff0;
  --skeleton-sticker-secondary-base-step-2: #ffffff29;
  --skeleton-sticker-secondary-base-static-background: #ffffff29;
  --skeleton-sticker-secondary-tongue-step-1: #fff3;
  --skeleton-sticker-secondary-tongue-step-2: #ffffff80;
  --swipe-actions-unread: #007aff;
  --swipe-actions-pin: #2bc644;
  --swipe-actions-mute: #ff9f0a;
  --swipe-actions-delete: #ce4257;
  --tabbar-inactive: #7d7d7f;
  --tabbar-active: #007aff;
  --verification-primary: #e7e7e7cc;
  --verification-secondary: #ffffffa3;
  --verification-tertiary: #fff6;
  --verification-themed: #007aff;
  --verification-primary-inverse-static: #fffc;
  --writebar-input-blur: #0000003d;
  --writebar-input-flat: #1e1f24;
  --writebar-emoji-area: #181818;
  --writebar-input-text: #e7e7e7;
  --writebar-input-stroke: #e7e7e700;
  --writebar-divider: #e7e7e70f;
  --shadow-android-top-bar-default-color: #00000029;
  --shadow-android-top-bar-default-offset-x: 0px;
  --shadow-android-top-bar-default-offset-y: 16px;
  --shadow-android-top-bar-default-blur: 48px;
  --shadow-android-top-bar-scroll-color: #00000029;
  --shadow-android-top-bar-scroll-offset-x: 0px;
  --shadow-android-top-bar-scroll-offset-y: 16px;
  --shadow-android-top-bar-scroll-blur: 48px;
  --shadow-android-tab-bar-default-color: #00000029;
  --shadow-android-tab-bar-default-offset-x: 0px;
  --shadow-android-tab-bar-default-offset-y: -16px;
  --shadow-android-tab-bar-default-blur: 48px;
  --shadow-android-tab-bar-scroll-color: #00000029;
  --shadow-android-tab-bar-scroll-offset-x: 0px;
  --shadow-android-tab-bar-scroll-offset-y: -16px;
  --shadow-android-tab-bar-scroll-blur: 48px;
  --shadow-android-write-bar-color: #00000029;
  --shadow-android-write-bar-offset-x: 0px;
  --shadow-android-write-bar-offset-y: 16px;
  --shadow-android-write-bar-blur: 48px;
  --shadow-glass-bar-color: #00000070;
  --shadow-glass-bar-offset-x: 0px;
  --shadow-glass-bar-offset-y: 4px;
  --shadow-glass-bar-blur: 40px;
  --shadow-glass-button-color: #00000052;
  --shadow-glass-button-offset-x: 0px;
  --shadow-glass-button-offset-y: 4px;
  --shadow-glass-button-blur: 16px;
  --shadow-tabbar-color: #0000;
  --shadow-tabbar-offset-x: 0px;
  --shadow-tabbar-offset-y: 0px;
  --shadow-tabbar-blur: 0px;
  --shadow-elevation-1-primary: #0003;
  --shadow-elevation-1-secondary: #0000001a;
  --shadow-elevation-2-primary: #0003;
  --shadow-elevation-2-secondary: #00000026;
  --shadow-elevation-3-primary: #0000004d;
  --shadow-elevation-3-secondary: #0000004d;
  --shadow-elevation-3-offset-x-primary: 0px;
  --shadow-elevation-3-offset-y-primary: 4px;
  --shadow-elevation-3-blur-primary: 16px;
  --shadow-elevation-3-offset-x-secondary: 0px;
  --shadow-elevation-3-offset-y-secondary: 0px;
  --shadow-elevation-3-blur-secondary: 2px;
  --shadow-elevation-4-primary: #0003;
  --shadow-elevation-4-secondary: #0000001a;
  --shadow-button-icon-overlay-plain-elevation-1-color: #0000001f;
  --shadow-button-icon-overlay-plain-elevation-1-offset-x: 0px;
  --shadow-button-icon-overlay-plain-elevation-1-offset-y: 0px;
  --shadow-button-icon-overlay-plain-elevation-1-blur: 2px;
  --shadow-button-icon-overlay-plain-elevation-2-color: #00000029;
  --shadow-button-icon-overlay-plain-elevation-2-offset-x: 0px;
  --shadow-button-icon-overlay-plain-elevation-2-offset-y: 0px;
  --shadow-button-icon-overlay-plain-elevation-2-blur: 6px;
  --shadow-focused-default: #709ada;
  --shadow-focused-negative: #ba4c4c;
  --shadow-big-card-color: #020b264d;
  --shadow-big-card-offset-x: 0px;
  --shadow-big-card-offset-y: 10px;
  --shadow-big-card-spread: 0px;
  --shadow-big-card-blur: 60px;
  --shadow-modal-color: #fff;
  --shadow-modal-offset-x: 0px;
  --shadow-modal-offset-y: 0px;
  --shadow-modal-blur: 0px;
  --shadow-modal-spread: 0px;
  --states-background-highlighted: #007affa3;
  --states-background-card-hover: #32343d;
  --states-background-card-pressed: #1f2026;
  --states-background-card-selected: #2c2d37;
  --states-background-card-selected-hover: #2c2d37;
  --states-background-card-selected-pressed: #2c2d37;
  --states-background-card-disabled: #1e1e1e66;
  --states-icon-primary-hover: #bbb;
  --states-icon-primary-pressed: #e7e7e7;
  --states-icon-primary-disabled: #ffffff3d;
  --states-icon-secondary-hover: #e7e7e7a3;
  --states-icon-secondary-pressed: #e7e7e7ad;
  --states-icon-secondary-disabled: #ffffff3d;
  --states-icon-tertiary-hover: #e7e7e7a3;
  --states-icon-tertiary-pressed: #e7e7e7;
  --states-icon-tertiary-disabled: #ffffff3d;
  --states-icon-primary-inverse-static-hover: #d7d7d7;
  --states-icon-primary-inverse-static-pressed: #e7e7e7;
  --states-icon-primary-inverse-static-disabled: #ffffff3d;
  --states-icon-themed-hover: #479fff;
  --states-icon-themed-pressed: #006be0;
  --states-icon-themed-disabled: #007aff99;
  --states-icon-negative-hover: #bb3949;
  --states-icon-negative-pressed: #ff6679;
  --states-icon-negative-disabled: #c75b6285;
  --states-icon-primary-static-disabled: #ffffff3d;
  --states-icon-primary-inverse-disabled: #060708a3;
  --states-icon-positive-disabled: #58b26ea3;
  --states-button-primary-hover: #479fff;
  --states-button-primary-pressed: #006ee5;
  --states-button-primary-disabled: #ffffff1f;
  --states-button-secondary-hover: #4d4e62;
  --states-button-secondary-pressed: #3c3e4c;
  --states-button-secondary-disabled: #4b4c5e;
  --states-button-primary-contrast-hover: #f6f6f6;
  --states-button-primary-contrast-pressed: #ebebeb;
  --states-button-primary-contrast-disabled: #ffffff1f;
  --states-button-secondary-contrast-hover: #bfc2f652;
  --states-button-secondary-contrast-pressed: #bfc2f638;
  --states-button-secondary-contrast-disabled: #bfc2f642;
  --states-button-positive-hover: #27ac3c;
  --states-button-positive-pressed: #3dc453;
  --states-button-positive-disabled: #ffffff1f;
  --states-button-negative-hover: #f54e67;
  --states-button-negative-pressed: #9c3242;
  --states-button-negative-disabled: #ffffff1f;
  --states-button-ghost-hover: #e7e7e70a;
  --states-button-ghost-pressed: #e7e7e714;
  --states-button-ghost-disabled: #fa00ff00;
  --states-button-bot-pressed: #5a946766;
  --states-button-bot-disabled: #5a946799;
  --states-button-overlay-hover: #2e3338a3;
  --states-button-overlay-pressed: #2e3338b8;
  --states-button-overlay-disabled: #0d0d0d52;
  --states-button-overlay-contrast-hover: #fff3;
  --states-button-overlay-contrast-pressed: #ffffff47;
  --states-text-primary-hover: #bbb;
  --states-text-primary-pressed: #e7e7e7;
  --states-text-primary-disabled: #ffffff47;
  --states-text-secondary-hover: #e7e7e7a3;
  --states-text-secondary-pressed: #e7e7e7ad;
  --states-text-secondary-disabled: #ffffff47;
  --states-text-tertiary-hover: #e7e7e766;
  --states-text-tertiary-pressed: #e7e7e77a;
  --states-text-tertiary-disabled: #ffffff47;
  --states-text-primary-static-disabled: #ffffff47;
  --states-text-primary-inverse-disabled: #ffffff47;
  --states-text-primary-inverse-static-hover: #e9e9e9;
  --states-text-primary-inverse-static-pressed: #e7e7e7;
  --states-text-primary-inverse-static-disabled: #ffffff47;
  --states-text-themed-hover: #479fff;
  --states-text-themed-pressed: #006be0;
  --states-text-themed-disabled: #ffffff47;
  --states-text-negative-hover: #bb3949;
  --states-text-negative-pressed: #ff6679;
  --states-text-negative-disabled: #ffffff47;
  --states-sferum-card-hover: #343742;
  --states-sferum-card-pressed: #222530;
  --states-float-scroll-bar-hover: #ffffff29;
  --states-float-scroll-bar-pressed: #ffffff3d;
  --states-float-surface-glass-hover: #323234f7;
  --states-float-surface-glass-pressed: #3b3b3df7;
  --states-float-surface-glass-disabled: #202022f7;
  --states-capsule-outside-hover: #282c428f;
  --states-capsule-outside-pressed: #282c42a3;
  --states-chat-action-outside-hover: #4f529d66;
  --states-chat-action-outside-pressed: #4f529d66;
  --states-chips-select-on-hover: #e4e4e4;
  --states-chips-select-on-pressed: #e7e7e70a;
  --states-chips-select-off-hover: #32343d;
  --states-chips-select-off-pressed: #c3c3c3;
  --states-controls-active-disabled: #ffffff1f;
  --states-controls-inactive-disabled: #ffffff1f;
  --states-counter-themed-disabled: #ffffff1f;
  --states-counter-attentrion-disabled: #ffffff1f;
  --states-counter-contrast-disabled: #ffffff1f;
  --states-counter-default-disabled: #ffffff1f;
  --states-promo-button-hover-step-1: #a13fd9;
  --states-promo-button-hover-step-2: #986afb;
  --states-promo-button-hover-step-3: #298fff;
  --states-promo-button-hover-step-4: #84b3f0;
  --states-promo-button-pressed-step-1: #1ebdfc;
  --states-promo-button-pressed-step-2: #1a44ff;
  --states-promo-button-pressed-step-3: #b406d6;
  --states-promo-button-pressed-step-4: #72a7ee;
  --states-promo-button-disabled-step-1: #04b0fd66;
  --states-promo-button-disabled-step-2: #0026ff66;
  --states-promo-button-disabled-step-3: #a500c666;
  --states-promo-button-disabled-step-4: #609ceb66;
  --states-divider-primary-hover: #e7e7e738;
  --states-divider-primary-pressed: #e7e7e75c;
  --states-divider-primary-disabled: #e7e7e70d;
  --states-stroke-negative-fade-hover: #ce425766;
  --states-stroke-negative-fade-pressed: #ce4257cc;
  --states-stroke-negative-fade-disabled: #ce42571a;
  --states-bubbles-system-button-themed-hover: #479fff;
  --states-bubbles-system-button-themed-pressed: #006ee5;
  --states-bubbles-system-button-themed-disabled: #007aff7a;
  --technical-lottie-icon-tertiary: #65666b;
  --technical-black: #000;
}
