* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --background-primary: #17181c;
  --icon-primary: #fff;
  --icon-primary-inverse-static: #fff;
  --text-primary: #fff;
  --divider-secondary: #ffffff0f;
  --button-primary: #007aff;
  --button-ghost: #0000;
  --chat-background-pattern-gradient-step-1: #505bc74d;
  --chat-background-pattern-gradient-step-2: #505bc74d;
  --chat-background-pattern-step-1: #0000;
  --chat-background-pattern-step-2: #0000;
  --chat-background-pattern-step-3: #0000;
  --chat-background-pattern-step-4: #0000;
  --chat-background-pattern-step-5: #0000;
  --chat-background-pattern-step-6: #0000;
  --chat-background-additional-step-1: #0000;
  --chat-background-additional-step-2: #0000;
  --chat-background-additional-step-3: #0000;
  --chat-background-additional-step-4: #0000;
  --chat-background-additional-step-5: #0000;
  --chat-background-additional-step-6: #0000;
  --chat-background-background-step-1: #141414;
  --chat-background-background-step-2: #141414;
  --capsule-outside: #282c42b2;
  --shadow-glass-bar-color: #00000070;
  --shadow-elevation-3-primary: #0000004d;
  --shadow-elevation-3-secondary: #0000004d;
  --states-background-card-selected: #2c2d37;
  --states-icon-primary-disabled: #ffffff3d;
  --states-icon-primary-inverse-static-disabled: #ffffff3d;
  --states-button-primary-hover: #479fff;
  --states-button-primary-pressed: #006ee5;
  --states-button-primary-disabled: #ffffff1f;
  --states-button-ghost-hover: #e7e7e70a;
  --states-button-ghost-pressed: #e7e7e714;
  --states-button-ghost-disabled: #fa00ff00;
}

:root {
  font-family: var(--font);
  color-scheme: light dark;
  color: var(--text-primary);
  background: var(--background-primary);
  --font:
    -apple-system, BlinkMacSystemFont, "Roboto", system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  --outline-width: 2px;
  font-weight: 400;
  line-height: 1.5;
}
