.container {
  z-index: 1;
  flex: 1;
}

.header {
  background: var(--background-primary);
  padding: 12px 16px;
  border-bottom: 1px solid var(--divider-secondary);
  align-items: center;
  display: flex;
  width: auto;
}

.info {
  padding-inline: 8px;
  display: flex;
}
