.container {
  position: relative;
}

.dialog {
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--background-primary);
  box-shadow: 0 4px 40px 4px var(--shadow-glass-bar-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dialogtitle {
  white-space: nowrap;
}
