.chatlistcontainer {
  height: auto;
  width: 393px;
  background-color: var(--background-primary);
  flex-grow: 0;
  border-right: 1px solid var(--divider-secondary);
  z-index: 1;
  @media (max-width: 904.5px) {
    width: 100%;
    border-right: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
}
